.password-label-wrapper {
    line-height: 26px;
    font-family: "SF Text Pro";
    font-size: 16px;
    color: #696D8C;
}

.password-label-wrapper label:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #EAEAF4;
    margin-right: 8px;
    margin-bottom: 5px;
}

.password-label.valid:before {
    background: rgb(31, 230, 168);
}

.password-label.invalid:before {
    background: rgb(247, 150, 130);
}